<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobibrw.timeflowmgr.biz">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity
            android:name=".Activity.TimeFlowMgrActivity"
            android:label="@string/timeflowmgr_biz_name"
            android:launchMode="singleInstance"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:exported="false"
            android:name=".Activity.TimeFlowEditCaseActivity">
            <intent-filter>
                <action android:name="com.mobibrw.timeflowmgr.biz.action.Activity.TimeFlowAddItemActivity" />
            </intent-filter>
        </activity>
    </application>

</manifest>